
html, body {

	height: 100%;
	font-size: 10px;
}
.root {
	width: 100%;
	height: 100%;
}
.app {
	font-family:  Verdana, "sans-serif", Arial;
	width: 100%;
	height: calc(100vh);
	background-color: #FFF8E1; 
}
.app .my-navbar {
	height: 5%;
	width: 100%;
	background-color: #FFC107; 
}
.app .app-container {	
    width: 100%;
    height: 95%;
    display: flex;
}
.app .app-container .left-area {
	width: 15%;
	padding: 1%;
	margin-top: 3%;
	/*background-color: #FFC107; */
}
.app  .app-container .main-area {
	width: 85%;
	padding: 2%;
}

.app .app-container .main-area .header1 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 2em;
}

.app .app-container .main-area .aktion-controls {
	display: flex;
	margin-top: 4em;
}

.app .app-container .main-area. .flex-grid {
	display: flex;
}

.app .app-container .main-area. .flex-grid .col {
	flex: 1;
}

