
html, body {

	height: 100%;
	font-size: 10px;
}
.root {
	width: 100%;
	height: 100%;
}
.app {
	font-family:  Verdana, "sans-serif", Arial;
	width: 100%;
	height: calc(100vh);
	/*background-color: #FFF8E1; */
	background-color: white;
}
.app .my-navbar {
	height: 5%;
	width: 100%;
	background-color: #FFC107; 
}
.app .app-container {	
    width: 100%;
    height: 95%;
    display: flex;
}
.app .app-container .left-area {
	width: 15%;
	padding: 1%;
	margin-top: 3%;
}
.app  .app-container .main-area {
	width: 85%;
	padding: 2%;
}
.app .app-container .main-area .header1 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 2em;
}
.app .app-container .main-area .flex-grid-horiz {
	display: flex;
	align-items: flex-start;
	justify-content: center;

}
.app .app-container .main-area .gruppen-panel {
	padding: 3em;
	width: 50em;
	border-style: solid;
	border-width: .1em;
	border-color: lightgrey;
	border-radius: 5px;
	margin-right: 2em;
}

.app .app-container .main-area .gruppen-system-panel {
	padding: 3em;	
	width: 30em;
	border-style: solid;
	border-width: .1em;
	border-color: lightgrey;
	border-radius: 5px;
}

.app .app-container .main-area .aktion-controls {
	display: flex;
	margin-top: 4em;
}

.app .app-container .main-area .gruppen-panel .flex-grid-horiz {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: flex-start;

}

.app .app-container .main-area .gruppen-panel .flex-grid-vert {
	display: flex;
	align-items: flex-start;	
	justify-content: flex-start;
	flex-direction: column;	
}

.app .app-container .main-area .gruppen-panel .flex-grid-horiz .col {
	/*flex-basis: 5em;*/
	/*align-self: flex-end;*/
}

